<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bootstrap-social.css">
</head>

<body>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-light text-dark" xt-marked="ok">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-dark" xt-marked="ok">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-dark" xt-marked="ok">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-dark" xt-marked="ok">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-dark" xt-marked="ok">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <form action="/register" method="GET">
          <button type="submit" class="btn btn-outline-dark " xt-marked="ok">Sign-up</button>
        </form>
        <form action="/login" method="GET">
          <button type="submit" class="btn btn-dark me-2" xt-marked="ok">Login</button>
        </form>
      </div>
    </header>
  </div>